.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #000;
  font-size: 1.5em;
  font-weight: 800;
  text-decoration: none;
}

.title :hover,
.title :focus,
.title :active {
  text-decoration: underline;
}
.liens { color: green;
  text-decoration: none;
  font-size: 1.1em;
}
.bgradient{
     background: linear-gradient(-45deg, #fef86c, #f0c300, #f6dc12, orange);
       /* #ee7752, #e73c7e, #23a6d5, #23d5ab); */
      /* background-size: 400% 400%;*/
     animation: gradient 15s ease infinite;
     box-shadow: 0px 0px 4px darkgray;
   }
.menueCollapse li a { font-weight:600;}
.menueCollapse {
  width: 65%; text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
