.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
.liens { color: green;
  text-decoration: none;
  font-size: 1.1em;
}
.menueCollapse .btn{ background-color: black;}
.menueCollapse {
  width: 50%; text-align: end;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
