.services { padding: 2em;}
.services h1{ color: orange;font-weight: 330; margin: 1em 0; font-size: 3.2em;}
.services img { width: 11em;}
.card { text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  width: 30%;
}
.jointCard {
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: .5em;
   width: 30%;
   box-shadow: 0px 0px 4px darkgray;
   border-radius: 9px;
}
.jointCard:hover { box-shadow: 0px 0px 8px darkgray; color: gray;}
.card, .jointCard p { font-weight: 350;}
.axeVocation { margin-top: 3.5em;}
