.services { padding: 0 3em 5em 3em; }
.services h1{ color: gray; font-weight: 330; margin: 1em 0 2em 0; font-size: 3.2em;}
.services img { width: 11em;}
.card { text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  width: 33%;
}
.jointCard img{ width: 40%;}
.jointCard {
   text-align: left;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.2em;
   width: 49%;
   box-shadow: 0px 0px 4px darkgray;
   border-radius: 9px;
   border:1px solid darkgray;
}
.jointCard .bodyCard{ width: 57%;}
.jointCard:hover { box-shadow: 0px 0px 8px darkgray; color: gray;}
.card, .jointCard p { font-weight: 350;}
.axeVocation { margin-top: 2em;}
