.slideInfos p{
  font-size: 16px;
  font-weight: 350;
  color: #000;
  margin-top:.5em;
 }
.slideInfos h1{
  font-size: 2.2em;
  color: gray;
  font-weight: 800;
}
/*.slideGlobal { background-image:linear-gradient(to bottom,  rgba(0, 0, 0, 0.100) 10%,rgba(0, 0, 0, 0.100)), url(/images/bg2.jpg);
height: 100%; margin-top: 0;
padding-top:
} */
.slideGlobal { background-color: #f8f8ff; padding: 5em;}
.texte p{ margin-top: 1.5em; color: gray;}
.axeVocation {width:20%; margin-top: 0; padding-top: 0;}
.axeVocation div i{font-size: 1.5em; color: orange}
.axeVocation div p{ font-size: 14px; font-weight: 300;}
.imagesAcueill img {width: 23em;}
.imagesAcueill {
  -webkit-animation: 1s linear 0s infinite alternate move_eye;
          animation: 1s linear 0s infinite alternate move_eye;
          /*background-image:linear-gradient(to bottom, #f8f8ff 80%, rgba(0, 0, 0, 0.200));
          padding-bottom: 0; */
          padding-top: 1em;
        }
@-webkit-keyframes move_eye { from { width: 22.9em; } to {width: 23em; }  }
        @keyframes move_eye { from {  width: 22.9em; } to { width: 23em; }  }
