.vocation p{ font-size: 1.1em;}
.vocation h1{ color: gray; font-weight: 330; margin-bottom: 0.6em; font-size: 3.2em;}
/*.vocationCard img { width: 100%;
   -webkit-animation: 1s ease-in 1s move_eye;
           animation: 1s ease-in 1s move_eye;
         }  */

 /* @-webkit-keyframes move_eye { from { width:80%; } to {width: 100%; }  }
         @keyframes move_eye { from {  width: 80%; } to { width: 100%; }  } */
.vocationCard {
   text-align: left;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 8em;
   padding: 1em 5em 1em 5em;
   background-color: #f8f8ff;
}
.partenaires div li {
   width: 23%; padding: 0.2em 1.3em;
   border-radius: 8px;
   font-size: 1.2em;
 }
 .partenaires div li:hover { 
   box-shadow: 0px 0px 8px darkgray; color: gray;
 }
 .partenaires div img {
  border-radius: 8px;
  margin-bottom: 0.2em;
 }
.partenaires div { 
   width: 90%;
 }
.partenaires {
   padding: 0.8em 0.2em; 
 }
.partenaires h3 { 
   color: dimgray;
 }
.vocationCardDeux {
   text-align: left;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 2em;
   padding: 1em 5em;
   background-color: #fff;
}
.vocationCard .imgDeux, .vocationCardDeux .imgDeux{ width: 27%;}
.vocationCardDeux .vocationFooter { width: 65%;}
.vocationCard p { font-weight: 350;}
